{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.eclipse.jetty.websocket/websocket-jetty-api {:mvn/version "11.0.20"}
        org.eclipse.jetty.websocket/websocket-jetty-client {:mvn/version "11.0.20"}}}
